@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
  --primary: #db4444;
  scroll-behavior: smooth;
 
  
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.container-x {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 25px;
  
}

.S_Underline:after {
  position: absolute;
  bottom: 0.5rem;
  left: 2px;
  height: 0.125rem;
  width: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.4s;
  --tw-content: "";
  content: var(--tw-content);
}
.my-custom-class {
  /* height: 120vh; */
  /* border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%; */
  /* height: 80vh; */
}
.my-custom-class {
  /* height: 70vh; */
}

.bdr {
  border: 2px solid red;
}
.bdr2 {
  border: 2px solid green;
}
.center {
  /* color: var(--primary); */
  display: flex;
  justify-content: center;
  align-items: center;

  /* @apply flex justify-center items-center; */
}

.heading {
  @apply font-semibold text-xl capitalize sm:text-4xl;
}
.box {

  padding: 25px 50px 0px 25px;
  border-radius: 158px 0px 0px 50px;
  border-top: 2px solid #000000;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020202;
  margin: auto;
  padding: auto;
}
@media (max-width: 300px) {
  .product-card {
    width: 32%;  /* Adjust this percentage for even smaller product cards */
  }
}
/* Default for small screens (2 items per row, each item has max width of 320px) */
.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  gap: 16px; /* Adjust the gap between items */
}

.product-card {
  max-width: 320px; /* Ensure product cards don't exceed 320px on small screens */
  width: 2  0%; /* Ensure the card takes up full width of its grid cell */
}

/* For medium screens (>= 768px) - 3 items per row */
@media (min-width: 768px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  }
}

/* For large screens (>= 1024px) - 4 items per row */
@media (min-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  }
}
